@if (isOpen()) {
  <div class="modal-overlay" (click)="onCancel()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-body">
        <p>¿Estás seguro de eliminar el producto: <strong>{{ product()?.name }}</strong>?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="secondary" (click)="onCancel()">
          Cancelar
        </button>
        <button type="button" class="primary" (click)="onConfirm()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
}
