<div class="table-wrapper">
  <table class="products-table">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>Descripcion</th>
        <th>Fecha de liberacion</th>
        <th>Fecha de reestructuracion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of getItems(); track $index) {
      <tr>
        @for (line of [1, 2, 3, 4,5,6]; track $index) {
        <td>
          <div class="skeleton-content">
            @for (line of [1, 2]; track $index) {
            <div class="skeleton-line"></div>
            }
          </div>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
