@if (control()?.invalid && (control()?.dirty || control()?.touched)) {
  <div class="validation-error">
    @if (control()?.errors?.['required']) {
      <small>Este campo es requerido</small>
    }

    @if (control()?.errors?.['idAlreadyExists']) {
      <small>{{ label() }} ya existe</small>
    }

    @if (control()?.errors?.['minlength']) {
      <small>{{ label() }} debe tener al menos {{ control()?.errors?.['minlength']?.requiredLength }} caracteres</small>
    }

    @if (control()?.errors?.['maxlength']) {
      <small>{{ label() }} no puede exceder {{ control()?.errors?.['maxlength']?.requiredLength }} caracteres</small>
    }

    @if (control()?.errors?.['invalid']) {
      <small>{{ label() }} no es válido</small>
    }

    @if (control()?.errors?.['dateRange']) {
      <small>Fechas no válidas</small>
    }
  </div>
}
