/* You can add global styles to this file, and also import other style files */
button {
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.primary {
  background-color: #F5DF66;
  color: black;
}

.secondary {
  background-color: #F4F6F9;
}

.content-center{
  display: flex;
  justify-content: center;
}

.bg-white{
  background-color: white;
}

.text-error{
  color: red;
}
