.dropdown {
  position: relative;
}

.drop-btn {
  padding: 4px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transform: rotate(90deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  right: 0;
}

.dropdown-content button:hover {
  background-color: #dacdb8
}

.dropdown:hover .dropdown-content {
  display: block;
}
